
:root{
    font-family: "Noto IKEA","Noto Sans","Roboto","Open Sans",-apple-system,sans-serif;
}



/* hr tag */
hr{
    margin: 50px 20px 50px 120px;
}

/* p tag */
p{
    color: #484848;
    font-size: 15px;
}

/* navbar */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: sans-serif;
}
nav {
  background:white;
  padding: 5px 20px;
  margin-bottom: 20px;
}
ul {
  list-style-type: none;
}
a {
  color: black;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.logo{
  margin-left: 30px;
}
.logo a:hover {
  text-decoration: none;
}
.menu li {
  font-size: 16px;
  padding: 15px 5px;
  white-space: nowrap;
}
.logo a,
.toggle a {
  font-size: 20px;
}
.button.secondary {
  border-bottom: 1px #444 solid;
}

/* Mobile menu */

#box{
  border: none;
  background: transparent;
  outline: none;
  cursor: pointer;
  padding-left: 20px;
  color: white;
  margin-left: 20px;

}
#search{
  margin: auto;
  height: 40px;
  width: 30%;
  max-width: 500px;
  background-color: rgba(0, 0, 0, 0.034);
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  overflow: hidden;
  

}
#search:hover{
  background-color: rgba(128, 128, 128, 0.8);
}
.sbtn{
 background: transparent;
 outline: none;
 border: none;
 border-radius: 50%;
 cursor: pointer;
 padding-right: 10px;
}
.sbtn img{
  position: relative;
  top: 4px;
  height: 20px;
  width: 20px;
}
::placeholder{
  color: white;
}

.item {
  
  text-align: center;
  order: 3;
  
}
.item.active {
  display: block;
}

/* Navbar Toggle */
 .toggle {
  cursor:pointer;
}
.bars {
  background: #999;
  display: inline-block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.bars:before,
.bars:after {
  background: #999;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.bars:before {
  top: 5px;
}
.bars:after {
  top: -5px;
}


/* Tablet menu */
 @media all and (min-width: 468px) {
  .menu {
      display: flex;
      justify-content: space-between;
      align-items: center;
      
  }
  .logo{
      order:0;
      flex: 2;
     }
     .item.button {
      width: auto;
      order: 1;
      display: block;
  }
  #search{
      display: none;
  }

 
  .item.button.hej{
      display: none;
  }
 
  .toggle {
      order: 3;
      margin-left: 20px;
    }
  
  
  } 
 

/* Desktop menu */
 @media all and (min-width: 768px) {
  .menu {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    
    .logo{
      order:1;
      flex: 0;
    }
    .item.button.hej{
      display: inline-block;
  }
  .toggle{
      order: 0;
      margin-right:20px ;
  }
  
    #search{
      order: 2;
      flex: 2;
    }
  #search{
      display:flex;
  }
   
    .item.button {
      order: 3;
      margin-left: 20px;
  
    }
  }

/* teaser design */
.teaser_container{
    display: flex;
    justify-content: space-between;
    margin-left: 120px;
    margin-right: 20px;
}


.shopButton{
    display: flex;
    align-items: flex-end;
}

.shopButton button{
    border: 1px solid rgba(0, 0, 0, 0.37);
    background-color: white;
    border-radius: 25px;
    padding: 12px 25px;
    margin-bottom: 12px;
    font-weight: bold;
    cursor: pointer;
}

/* Trending Product */
.trending_wrapper{
    width: 80%;
    display: grid;
    gap: 10px;
    grid-template-columns: auto auto auto;
    margin: 20px 120px;
}

.box1{
    grid-column: 1;
    grid-row: 1/5;
    width: 600px;
    height: 710px;
}

.box1 img{
    width: 600px;
    height: 710px;
}

.box2{
    grid-column: 2;
    grid-row: 1/2;
    width: 270px;
    height: 300px;
}

.box2 img{
    height: 300px;
    width: 270px;
}

.box3{
    grid-column: 2;
    grid-row: 2/5;
    width: 270px;
    height: 400px;
}

.box3 img{
    height: 400px;
    width: 270px;
}

.box4{
    grid-column: 3;
    grid-row: 1/3;
    height: 400px;
    width: 300px;
}

.box4 img{
    height: 400px;
    width: 300px;
}


.box5{
    grid-column: 3;
    grid-row: 3/5;
    height: 300px;
    width: 300px;
}


.box5 img{
    height: 300px;
    width: 300px;
} 

/* Slider Main */
.sliderMain{
    max-height: 700px;
    border: 1px solid transparent;
    margin: 100px 20px 100px 120px;
  }

  .slider{
    display: flex;
    margin-bottom: 100px;
    overflow: auto;
    padding-bottom: 30px;
    cursor: grab;
  }
  .slider::-webkit-scrollbar{
    height: 3px;
    background: #dfdfdf;
    border-radius: 4px;
  }
  .slider:hover::-webkit-scrollbar{
    height: 5px;
  }
  .slider::-webkit-scrollbar-thumb{
    width: 50px;
    background-color: black;

  }
  
  .img-div {
    width: 376px;
    height: 640px;
    position: relative;
    margin-right: 25px;
    cursor: pointer;
  }
  
  .img-div img {
    width: 376px;
    
  }
  
  .img-div h1 {
    margin: 25px;
    font-size: 25px;
    font-weight: bolder;
    color: black;
  }
  
  .img-div h1:hover {
    text-decoration: underline;
  }
  
  .img-div p {
    margin: -10px 25px 25px 25px;
    color: black;
    font-weight: 400;
  }

  .color1{
    background-color: #555740;
  }

  .color1 p{
    color: white;
  }

  .color1 h1{
    color: white;
  }

  .color2{
    background-color: #d5c5c4;
    color: black;
  }

  .color3{
    background-color: #f1bdb8;
  }
  .color4{
    background-color: #666666;
  }
  .color5{
    background-color: #8d6b5b;
  }
  .color6{
    background-color: #d7aefe;
  }
  .color7{
    background-color: #ffd800;
  }
  
  .arrow {
    position: absolute;
    bottom: 30px;
    left: 30px;
    height: 60px;
    width: 60px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .arrow:hover {
    background-color: white;
  }
  
  .arrow img {
    height: 25px;
    width: 25px;
  }
  

/* bangolore store */

.store {
    margin-left: 120px;
    margin-right: 20px;
}

.store img{
    width: 100%;
}


/* offer */
.offer{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    margin-left: 120px;
    margin-right: 30px;
}

.offer img{
    width: 380px;
}

.offer h2{
    text-decoration: underline;
    height: 70px;
    width: 400px;
    color: black;
}

.offer1{
    grid-column: 1;
}


.offer2{
    grid-column: 2;
}

.offer3{
    grid-column: 3;
}

.shop {
    height: 450px;
    margin: 100px 20px 100px 120px; 
    cursor: grab;
  }

  .shop-list {
    display: flex;
    height: auto;
    padding-bottom: 25px;
    margin-top: 60px;
    gap: 25px;
    overflow-x: scroll;
  }
  .shop-list::-webkit-scrollbar{
    height: 3px;
    background: #dfdfdf;
    border-radius: 4px;
  }
  .shop-list:hover::-webkit-scrollbar{
    height: 5px;
  }

  .shop-list::-webkit-scrollbar-thumb{
    width: 50px;
    background-color: black;
  }

  #green {
    text-decoration: none;
  }
  
  .green {
    width: 300px;
  }
  .green>div{
    width: 40px;
    height: 40px;
  }
  .green>div>img{
    width: 25px;
    height: 25px;
  }
  
  .green h2 {
    color: white;
    padding-left: 10px;
    font-size: 16px;
    text-decoration: none;
    width: 80%;
    margin-top: 40px;
    margin-left: 32px;
  }
  
  .shop-item {
    height: 308px;
    width: 231px;
    border: 1px solid rgb(255, 255, 255);
    position: relative;
    background-color: #1e8449;
    vertical-align: top;
  }
  
  .shop-item img {
    width: 231px; 
    height: 308px;
  }
  
  .shop-item button {
    position: absolute;
    top: 80%;
    left: 25%;
    padding: 10px 16px;
    font-weight: 700;
    font-size: 12px;
    border-radius: 30px;
    background-color: white;
    border: 1px solid black;
  }
  

/* Download the Ikea app, Clearance sale */

.downloadAndClearance{
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    margin-left: 120px;
    margin-right: 30px;
}

.downloadAndClearance p{
  margin-top: 10px;
}

.downloadAndClearance img{
    margin-top: 10px;
    width: 580px;
}

/* Return policy, click&collect, Planning tools, safety at IKEA  */
.basicInfo{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 3px;
    margin: 80px 20px 60px 120px;
}

.returnPolicy,.clickAndCollect,.planningTools,.safety{
    text-align: center;
    background-color: #f5f5f5;
    padding: 25px 50px;
}


/* Important info */
.importantInfo{
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    margin-left: 120px;
    margin-right: 50px;
}

.importantInfo img{
    width: 580px;
}

.covid19{
    grid-column: 1;
}

.importantInfo button{
    background-color: black;
    border-radius: 25px;
    padding: 12px 25px;
    margin-bottom: 12px;
    color: white;
    font-size: 12px;
    cursor: pointer;
}

/* explore */
.explore{
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    margin-left: 120px;
    margin-right: 50px;
}

.exploreInfo{
    grid-column: 1;
}

.fewLinks{
    grid-column: 2;
}

.fewLinks a{
    color: #484848;
}

/* footer */
.footer{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 50px;
    background-color: #f5f5f5;
    padding: 50px 0px;
}

.footer a{
    color: #484848;
    text-decoration: none;
    font-size: 14px;
}

.footer a:hover{
    text-decoration: underline;
}


.join{
    grid-column: 1;
    margin-left: 120px;
}

.join button{
    background-color: black;
    color: rgba(255, 255, 255, 0.952);
    font-weight: bold;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
}

.family{
    grid-column: 2;
}

.services{
    grid-column: 3;
}

.help{
    grid-column: 4;
}

.about{
    grid-column: 5;
    margin-right: 100px;
}

.social{
    margin-top: 150px;
}
.country{
    margin-top: 180px;
}

.country button{
    background-color: #f5f5f5;
    color: #484848;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
}


.lastFooter{
    display: flex;
    justify-content: space-between;
    background-color: #f5f5f5;
}

.lastFooter p {
    font-size: 12px;
    margin-left: 120px;
}

.links{
    display: flex;
    align-items: center;
    margin-right: 100px;
}

.links a{
    color: #484848;
    text-decoration: none;
    margin: 10px;
    font-size: 12px;
}